{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Date Difference Calculator</h1>
    <div class="alert alert-primary"> {{ 'help.subtitle'|trans }}</div>
    <div class="alert alert-warning"> {{ 'note.subtitle'|trans }}</div>
    {{ form_start(form) }}
    {#<div class="input-group date" data-provide="datepicker">#}
        {#<input type="text" class="form-control">#}
        {#<div class="input-group-addon">#}
            {#<span class="glyphicon glyphicon-th"></span>#}
        {#</div>#}
    {#</div>#}
    <div>
        {{ form_label(form.fromDate) }}
        {{ form_errors(form.fromDate) }}
        {{ form_widget(form.fromDate) }}
        {#{{ form_help(form.fromDate) }}#}
    </div>


        {#{{ form_row(form.fromDate) }}#}
        {{ form_row(form.toDate) }}
        <button id="get-difference-button" type="submit" class="btn btn-primary">
            {{ 'label.get_difference_button'|trans }}
        </button>
    {{ form_end(form) }}
    <hr/>
    {% if difference != -1 %}
        {{ 'label.difference_days'|trans }} : <b> {{ difference }} {{ 'label.days'|trans }} </b>
    {% endif %}
{% endblock %}